<nav class="navbar sticky top-0 z-50 w-full py-2 lg:py-1 px-2 bg-slate-900 font-md lg:flex lg:justify-center">
    <div class="flex justify-between px-5 lg:mr-10">
      <button class="navbar-toggler border-0 lg:hidden" id="NavTrigger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
        </svg>      
      </button>
      <div class="logo">
        <a href="/" class="hover:opacity-75">
          <img src="https://i.postimg.cc/Gpgb5Jj6/logo-1-2.png" alt="Logo" class="w-12">
        </a>
      </div>
    </div>
      <div class="lg:flex flex-col lg:flex-row justify-center items-center gap-5 hidden" id="navbarToggler">
        <ul class="flex flex-col lg:flex-row mr-5 gap-5 text-2xl items-center tracking-tighter">
          <li class="nav-item">
            <a class="nav-link hover:opacity-75" href="{{site.url}}/index/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hover:opacity-75" href="{{site.url}}/podcast/">PODCAST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hover:opacity-75" href="{{site.url}}/blog/">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hover:opacity-75" href="{{site.url}}/blog/tags">TAGS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hover:opacity-75" href="{{site.url}}/portfolio/">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hover:opacity-75" href="{{site.url}}/about/">ABOUT</a>
          </li>
        </ul>
        <ul class="flex flex-wrap gap-5 my-5 lg:m-0 mt-5 items-center justify-center">
          <li class="text-2xl hover:opacity-75">
            <a href="mailto:{{site.email}}" class="text-reset" target="_blank">
              <i class="fa fa-at" aria-hidden="true"></i>
            </a>
          </li>
          <li class="text-2xl hover:opacity-75">
            <a href="https://github.com/{{site.github_username}}" class="me-4 text-reset" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="text-2xl hover:opacity-75">
            <a href="https://last.fm/{{site.lastfm_username}}" class="me-4 text-reset" target="_blank">
              <i class="fa fa-lastfm" aria-hidden="true"></i>
            </a>
          </li>
          <li class="text-2xl hover:opacity-75">
            <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" class="me-4 text-reset" target="_blank">
              <i class="fab fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li class="text-2xl hover:opacity-75">
            <a href="https://instagram.com/rajanydv_" class="me-4 text-reset" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li class="text-2xl hover:opacity-75">
            <a href="https://trakt.tv/users/{{site.trakt_tv_username}}" class="me-4 text-reset" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 32 32" class="fill-current">
                <path d="M16 32c-8.817 0-16-7.183-16-16s7.183-16 16-16c8.817 0 16 7.183 16 16s-7.183 16-16 16zM16 1.615c-7.932 0-14.385 6.453-14.385 14.385s6.453 14.385 14.385 14.385c7.932 0 14.385-6.453 14.385-14.385s-6.453-14.385-14.385-14.385zM6.521 24.708c2.339 2.557 5.724 4.152 9.479 4.152 1.917 0 3.735-0.417 5.369-1.167l-8.932-8.907zM25.573 24.62c2.052-2.281 3.307-5.323 3.307-8.625 0-5.177-3.047-9.62-7.421-11.677l-8.12 8.099 12.219 12.204zM12.401 13.38l-6.765 6.74-0.907-0.907 15.421-15.416c-1.301-0.437-2.692-0.677-4.151-0.677-7.115-0.005-12.885 5.765-12.885 12.88 0 2.896 0.953 5.573 2.588 7.735l6.74-6.74 0.479 0.437 9.663 9.661c0.197-0.109 0.38-0.219 0.556-0.353l-10.703-10.672-6.468 6.473-0.907-0.905 7.38-7.381 0.479 0.443 11.281 11.251c0.177-0.136 0.339-0.292 0.5-0.421l-12.181-12.157-0.109 0.021zM16.464 14.749l-0.901-0.9 6.38-6.385 0.907 0.916-6.385 6.38zM22.521 5.979l-7.36 7.36-0.907-0.907 7.36-7.359 0.907 0.911z"/>
              </svg>
            </a>
          </li>
          <li class="text-2xl hover:opacity-75">
            <a href="https://www.podbean.com/user-R1vnlbi3jC2m" class="me-4 text-reset"target="_blank">
              <i class="fa fa-podcast" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
</nav>

<script>
  const navtrigger = document.querySelector('#NavTrigger');
  const navbartoggler = document.querySelector('#navbarToggler');
  navtrigger.onclick = function() {
    if(navbartoggler.classList.contains('hidden')){
      navbartoggler.classList.remove('hidden');
    }
    else{
      navbartoggler.classList.add('hidden');
    }
  };
</script>